<h2>Cadastrar Novo Evento</h2>


<!-- 
<form (ngSubmit)="salvarEvento()" #eventoForm="ngForm">
  <label>
    Data:
    <input type="date" name="data" [(ngModel)]="data" required />
  </label>
  <br />

  <label>
    Descrição:
    <input type="text" name="descricao" [(ngModel)]="descricao" required />
  </label>
  <br />

  <label>
    Hora:
    <input type="time" name="hora" [(ngModel)]="hora" required />
  </label>
  <br />

  <label>
    Local:
    <input type="text" name="local" [(ngModel)]="local" required />
  </label>
  <br />

  <button type="submit">Salvar Evento</button>
</form>

<p *ngIf="mensagem">{{ mensagem }}</p>
-->