<div class="container">
    <main class="content">
      <h1>AGENDA DO GOVERNADOR</h1>
  
      <mat-card class="calendar-card">
        <mat-calendar
        [(selected)]="dataSelecionada" 
        (selectedChange)="verificarEvento($event)">

        </mat-calendar>
      </mat-card>

      <p class="data">
        {{ dataSelecionada | date: 'fullDate':'':'America/Sao_Paulo' }}
        <strong>({{ dataSelecionada | date: 'fullDate':'':'pt-BR' }})</strong>
      </p>
      
      <p *ngIf="mostrarAviso" class="aviso">
        <strong>Não há eventos para a data selecionada.</strong>
      </p>
      
      <p *ngIf="!mostrarAviso" class="evento">
        <strong>Descrição Do Evento: </strong> {{ descricao }} <br>
        <br>
        <strong>Hora: </strong>{{ hora }} <br>
        <br>
        <strong>Local: </strong> {{ Local }}
      </p>
    </main>
</div>     